# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Archive folder
Archive/

# Virtual environments
venv/
.venv/
env/

# Build files
build/
dist/
*.spec

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db